.back {
    color: rgb(252, 212, 250);
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  
  .backBtn:hover {
    color:  rgb(241, 0, 165);
  }