.list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(214, 67, 180);
    border-radius: 20px;
    padding: 20px;
  }
  .listItem {
    width: calc((100% - 20px) / 3);
  }
  .itemLink {
    padding: 5px 20px;
  }
  .itemLink:hover {
    background-color: rgb(255, 147, 241);
  }